<div class="spotify-home-container row">
    <div class="spotify-home-continer-sideBar col-2">
        <div>
            <img src="assets\spotify_light_image.png" width="150" class="mt-4">
        </div>
        <div class="spotify-home-container-sideBar-items">
            <i class="fa fa-home"></i>
            <a>Home</a>
        </div>
        <div class="spotify-home-container-sideBar-items">
            <i class="fa fa-search"></i>
            <a>Search</a>
        </div>
        <div class="spotify-home-container-sideBar-items">
            <i class="fa fas fa-book"></i>
            <a>Library</a>
        </div>
        <div class="spotify-home-container-sideBar-items">
            <i class="fa fa-plus"></i>
            <a>Create Playlist</a>
        </div>
    </div>
    <div class="spotify-home-continer-playlist col-md-10">
    </div>